<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mapper.TableInfoMapper">

    <update id="updeteByTableId" parameterType="int">
        UPDATE table_info set `status`=0 WHERE table_number=#{tableNumber}
    </update>
    <update id="updateStatus">
        UPDATE table_info set `status`=1 WHERE id=#{tableId}
    </update>
    <select id="selectAllByConditions" resultType="com.practice.entity.TableInfo">
        select * from table_info where
        table_address=#{tableAddress} AND
        table_number =#{tableNumber} AND
        status =#{status}
    </select>
</mapper>
